annotated-types==0.6.0
asgiref==3.8.1
cachetools==5.3.3
certifi==2023.11.17
charset-normalizer==3.3.2
distlib==0.3.8
Django==5.0.4
filelock==3.13.1
google-ai-generativelanguage==0.6.1
google-api-core==2.18.0
google-api-python-client==2.125.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-generativeai==0.5.0
googleapis-common-protos==1.63.0
grpcio==1.62.1
grpcio-status==1.62.1
httplib2==0.22.0
idna==3.7
inflect==7.0.0
pipenv==2023.11.15
platformdirs==4.1.0
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pydantic==2.5.3
pydantic_core==2.14.6
pyparsing==3.1.2
requests==2.31.0
rsa==4.9
sqlparse==0.4.4
tqdm==4.66.2
typing_extensions==4.9.0
uritemplate==4.1.1
urllib3==2.2.1
virtualenv==20.25.0
